img {
    width: 100%;
}
.btnn {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 3rem 0;
    justify-content: center;
}
.btnn a,
.btnn button {
    display: flex;
    border: none;
    background: green;
    padding: 0.4rem 1.3rem;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}